.container {
  min-width: 1440px;
  display: flex;

  @include respond-to(sm) {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include respond-to(xs) {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
