.footer__content {
  width: 100%;
  min-height: 334px;
  margin-top: 80px;
  background: $bg-card;

  @include respond-to(sm) {
    min-height: auto;
  }

  &-block-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 988px;
    margin: 0 auto;
    padding-top: 40px;

    @include respond-to(sm) {
      display: flex;
      flex-direction: column;
      padding: 40px;
      gap: 20px;
    }
  }

  &-block-logo {
    max-width: 327px;
  }

  &-icon {
    fill: $color-button;
  }

  &-icon-logo {
    fill: $color-body;
  }

  &-text {
    color: rgba(204, 204, 204, 1);
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    max-width: 238px;
    margin-top: 20px;
  }

  &-community {
    color: rgba(204, 204, 204, 1);
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 20px;
  }

  &-icon-cocial {
    margin-top: 20px;
  }

  &-icon-discord,
  &-icon-youtube,
  &-icon-instagram {
    fill: rgba(133, 133, 132, 1);
  }

  &-text-explore {
    font-family: $font-secondary;
    color: $color-body;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.6;
  }

  &-text-marketplace {
    font-family: $font-primary;
    color: rgba(204, 204, 204, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 20px;
  }

  &-text-rankings {
    font-family: $font-primary;
    color: rgba(204, 204, 204, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 20px;
  }

  &-text-connect {
    font-family: $font-primary;
    color: rgba(204, 204, 204, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 20px;
  }

  &-block-join {
    position: relative;
  }

  &-title-join {
    font-family: $font-secondary;
    color: $color-body;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.6;
  }

  &-text-promotions {
    font-family: $font-primary;
    color: rgba(204, 204, 204, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 20px;

    @include respond-to(xs) {
      width: 315px;
    }
  }

  &-btn-enter {
    max-width: 425px;
    width: 100%;
    height: 60px;
    padding: 14px 24px;
    background-color: $color-body;
    display: flex;
    justify-content: flex-start;
    color: rgba(43, 43, 43, 1);
    cursor: text;
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(43, 43, 43, 1);
    border: none;

    @include respond-to(xs) {
      display: none;
    }
  }

  &-btn-email {
    display: none;

    @include respond-to(sm) {
      display: none;
    }

    @include respond-to(xs) {
      display: block;
      width: 100%;
      max-width: 315px;
      height: 46px;
      background: $color-body;
      border: none;
      color: rgba(43, 43, 43, 1);
      margin-top: 40px;
    }
  }

  &-btn-subscribe {
    padding: 14px 20px;
    background-color: $color-button;
    position: absolute;
    height: 61px;
    width: 211px;
    top: 120px;
    left: 219px;
    border: none;

    @include respond-to(sm) {
      top: 97px;
    }

    @include respond-to(xs) {
      width: 100%;
      position: static;
      max-width: 315px;
      height: 46px;
      margin-top: 10px;
    }
  }

  &-custom-line {
    max-width: 1049px;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    margin: 40px auto 20px;

    @include respond-to(xs) {
      margin-top: 90px;
      max-width: 315px;
    }
  }

  &-market {
    font-family: $font-primary;
    line-height: 1.1;
    font-weight: 400;
    font-size: 12px;
    color: rgba(133, 133, 132, 1);
    margin-left: auto;
    margin-right: auto;
    max-width: 1049px;
    text-align: left;
    padding-bottom: 40px;

    @include respond-to(xs) {
      max-width: 315px;
      margin-left: 40px;
    }
  }
}
