.subscribe__content {
  width: 100%;
  

  &-general {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &-block-image {
    width: 1050px;
    min-height: 430px;
    background: $bg-card;
    border-radius: $border-radius;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 40px;

    @include respond-to(sm) {
      max-width: 690px;
      min-height: 360px;
      gap: 40px;
      padding: 30px;
    }

    @include respond-to(xs) {
      max-width: 315px;
      min-height: 645px;
      background: transparent;
      flex-direction: column;
      gap: 20px;
      padding: 0;
    }
  }

  &-image {
    max-width: 425px;
    width: 100%;
    height: auto;
    border-radius: $border-radius;

    @include respond-to(sm) {
      max-width: 300px;
    }

    @include respond-to(xs) {
      max-width: 315px;
    }
  }

  &-block-about {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  &-title {
    font-family: $font-primary;
    color: $color-body;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 10px;

    @include respond-to(sm) {
      font-size: 28px;
      line-height: 1.4;
    }
  }

  &-subtitle {
    font-family: $font-primary;
    color: $color-body;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 60px;

    @include respond-to(sm) {
      font-size: 16px;
      line-height: 1.4;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  &-block-button {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;

    @include respond-to(xs) {
      margin-top: 40px;
    }
  }

  &-btn-address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    flex: 1 1 auto;
    width: 425px;
    height: 60px;
    background-color: $color-body;
    padding: 0 16px;
    color: rgba(43, 43, 43, 1);
    cursor: text;
    font-weight: 400;
    font-size: 16px;
    border: none;

    @include respond-to(sm) {
      display: none;
    }
  }

  &-btn-address-tablet {
    display: none;

    @include respond-to(sm) {
      display: block;
      color: rgba(43, 43, 43, 1);
      background: $color-body;
      height: 46px;
      width: 100%;
      border: none;
      margin-top: 10px;
    }
  }

  &-btn-subscribe {
    padding: 14px 20px;
    background-color: $color-button;
    position: absolute;
    height: 61px;
    width: 211px;
    top: 251px;
    left: 340px;
    border: none;

    @include respond-to(sm) {
      position: static;
      width: 100%;
      height: 46px;
      margin-top: 10px;
    }

    @include respond-to(xs) {
      width: 100%;
    }
  }
}
